/*
background-color: red 
background-image: url()
beckground-repeat: repeat 
background-position: center
*/
header {
	display: flex;
	background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
	margin-left: 50px; 
    padding: 0px 10px;
}

body {
	/*background-image: url(images/teksturnaya-kamennaya-stena-bulyzhnik.jpg);
	*/
	background: rgb(255, 255, 255);
}

.post-info {
	color: grey;
}
.post {
	display: flex;
	background: rgb(225,225,225);
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 20px 10px 10px;
}
.upper {
	color: blue;
}
.upper2 {
	color: grey;
}
.C1 {
	display: flex;
}
.rer {
	color: red;
	padding: 2 2px;
	background: rgb(225,225,225);
}
.blob{
	padding: 2 2px;
	background: rgb(225,225,225);
}
.dot{
	border-bottom: 1px dotted;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    line-height: 1.05em;
}
.coder{
	color: red;
	background: rgb(180,180,180);
}
.back2{
	background: rgb(150,150,150);
}
.tag{
	color: blue;
	background: rgb(180,180,180);
}
.pad{
	padding: 15 0;
}
.lis{
	list-style-type:none;
}
.lis2{
	padding: 7;
	background-color: aqua;
}
.lis2_2{
	padding: 7;
	background-color:aquamarine;
}
.lis2_3{
	padding: 7;
	background-color: gainsboro;
}
.ceboks{
	padding: 0 10;
}
.lisone{
	background-color: rgb(220, 130, 130);
	padding: 20 20;
}
.lis1{
	padding: 0 15;
	background-color: rgb(200, 60, 60);
	color: white;
}
.bor{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1200;
	background-color: rgb(140, 60, 60);
}
.bor2{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1180;
	background-color: rgb(140, 60, 60);
}
.bor3{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1160;
	background-color: rgb(140, 60, 60);
}
.bor4{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1220;
	background-color: rgb(140, 60, 60);
}
.bor5{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1195;
	background-color: rgb(140, 60, 60);
}
.Kemerovo{
	background-image: url(images/Flag_of_Kemerovo_Oblast.svg.png);
}
.sdva{
	background-color: white;
}
.holod{
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.objectHol{
	background-color: white;
	padding: 10 10;
	text-align: center;
	font-size: 15;
	border: 1px solid gray;
	border-radius: 10px;
	border-spacing: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.listed{
	display: flex;
	padding: 20 20;
	background: rgb(85, 85, 85);
	color: white;
	width: 17%;
}
.listed img{
	margin-right: 20;
}
.listed:hover{
	background: rgb(41, 41, 41);
}
.header3{
	color: white;
	background-color: brown;
	padding: 25 50;
}
.menu3{
	color: white;
	background-color: rgb(53, 11, 11);
	padding: 10 50;
}
.aside03{
	float: left;
}
.aside13{
	color: white;
	background-color: rgb(100, 25, 25);
	padding: 25 50;
}
.aside23{
	color: white;
	background-color: rgb(100, 25, 25);
	padding: 45 50;
}
.aside33{
	color: white;
	background-color: rgb(100, 25, 25);
	padding: 80 20;
	float: right;
}
.footer3{
	color: white;
	background-color: rgb(53, 11, 11);
	padding: 10 50;
}
.blue{
	background-color: aqua;
}
table{
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 50;
}
.buttons{
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.sidenav {
    height: 100%; 
    width: 50px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #6d6d6d; 
    overflow-x: hidden; 
    padding-top: 20px;
	transition: width 1s;
	font-size: 0px;
}
.sidenav:hover{
	width: 220;
	font-size: 25px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.main {
    margin-left: 50px; 
    padding: 0px 10px;
}
.sidenavima{
	display: flex;
}
.sidenavima:hover{
	background-color: #5a5a5a; 
}
.sidenav p{
	color: white;
	font-size: 15;
}