/*
background-color: red 
background-image: url()
beckground-repeat: repeat 
background-position: center
*/
header {
	display: flex;
	background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
}

body {
	/*background-image: url(images/teksturnaya-kamennaya-stena-bulyzhnik.jpg);
	*/
	background: rgb(255, 255, 255);
}

.post-info {
	color: grey;
}
.post {
	display: flex;
	background: rgb(225,225,225);
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 20px 10px 10px;
}
.upper {
	color: blue;
}
.upper2 {
	color: grey;
}
.C1 {
	display: flex;
}
.rer {
	color: red;
	padding: 2 2px;
	background: rgb(225,225,225);
}
.blob{
	padding: 2 2px;
	background: rgb(225,225,225);
}
.dot{
	border-bottom: 1px dotted;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    line-height: 1.05em;
}
.coder{
	color: red;
	background: rgb(180,180,180);
}
.back2{
	background: rgb(150,150,150);
}
.tag{
	color: blue;
	background: rgb(180,180,180);
}
.pad{
	padding: 15 0;
}
.lis{
	list-style-type:none;
}
.lis2{
	padding: 7;
	background-color: aqua;
}
.lis2_2{
	padding: 7;
	background-color:aquamarine;
}
.lis2_3{
	padding: 7;
	background-color: gainsboro;
}
.ceboks{
	padding: 0 10;
}
.lisone{
	background-color: rgb(220, 130, 130);
	padding: 20 20;
}
.lis1{
	padding: 0 15;
	background-color: rgb(200, 60, 60);
	color: white;
}
.bor{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1200;
	background-color: rgb(140, 60, 60);
}
.bor2{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1180;
	background-color: rgb(140, 60, 60);
}
.bor3{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1160;
	background-color: rgb(140, 60, 60);
}
.bor4{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1220;
	background-color: rgb(140, 60, 60);
}
.bor5{
	padding: 10 0;
	margin-left: 10;
	margin-right: 1195;
	background-color: rgb(140, 60, 60);
}
.Kemerovo{
	background-image: url(images/Flag_of_Kemerovo_Oblast.svg.png);
}
.sdva{
	background-color: white;
}
